* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --debug: black;
    --color-secondary-color: #0084FD;
    --color-dark-color: #333333;
    --color-light-color: #FFFFFF;
    --color-primary-color: #9792E4;
    --color-bg-card: #B5DDFF;
    --color-contrast-color: #FCC060;
    --color-text: #424242;
}

/* GENERAL SETTINGS */
.debug {
    border: 1px solid var(--debug);
}

body {
    font-size: 1.4em;
    line-height: 1.5em;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.p-relative {
    position: relative;
}

.t-align-center {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    min-width: 550px;
}

.btn {
    padding: 2px 50px;
    border-radius: 50px;

}

.second-btn {
    display: inline-block;
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
}

.cards-border {
    border-radius: 25px;
}

.circle-border {
    border-radius: 50%;
}

/* FLEX SETTINGS */
.f-row {
    display: flex;
    flex-direction: row;
}

.j-content-between {
    justify-content: space-between;
}

.a-items-center {
    align-items: center;
}

/*HEADER SETTINGS*/
header {
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    min-width: 550px;
}

nav {
    height: 100%;
}

header ul {
    list-style: none;
}

.options {
    display: none;
}

.img-size {
    max-width: 200px;

}

/*MAIN SETTINGS*/
main {
    padding-top: 90px;
}

/*GET-STARTED SECTION SETTINGS*/
.get-started-cards {
    background-color: var(--color-bg-card);
    color: var(--color-text);
}

.get-started-cards h2 {
    color: var(--color-secondary-color);
}

.cards-icon {
    color: var(--color-secondary-color);
    font-size: 4em;
}

.card-image {
    bottom: -20px;
}

/*PLANNING SECTION SETTINGS*/
#planning {
    background-color: var(--color-primary-color);
}

#planning h2,
#planning p {
    color: var(--color-light-color);
}

#planning .cards-border {
    background-color: var(--color-light-color);
}

#planning .cards-border h2 {
    color: black;
}

#planning .cards-border p {
    color: black;
    font-style: italic;
}

#planning .circle-border {
    display: inline-block;
    background-color: var(--color-primary-color);
    padding: 10px 20px;
    color: black;
}

/*TESTIMONIALS SECTION SETTINGS*/
#testimonials h2{
    color: var(--color-primary-color);
}
#testimonials h4{
    font-weight: lighter;
}
.testimonials-card{
    background-color: var(--color-primary-color);
    color: var(--color-light-color);
}
.testimonials-img{
    width: 40vw;
    height: 40vw;
    background-image: url(../Img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px auto;
}