* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --debug: black;
    --color-secondary-color: #0084FD;
    --color-dark-color: #333333;
    --color-light-color: #FFFFFF;
    --color-primary-color: #9792E4;
    --color-bg-card: #B5DDFF;
    --color-contrast-color: #FCC060;
    --color-text: #424242;
}

/* GENERAL SETTINGS */
.debug {
    border: 1px solid var(--debug);
}
body{
    font-size: 2em;
    line-height: 2em;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.t-align-center{
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    min-width: 480px;
}

.btn{
    padding: 10px 10px;
    border-radius: 25px;
}

.cards-border{
    border-radius: 10px;
}

/* FLEX SETTINGS */
.f-row{
    display: flex;
    flex-direction: row;
}
.j-content-between{
    justify-content: space-between;
}
.a-items-center{
    align-items: center;
}

/*HEADER SETTINGS*/
header {
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    min-width: 480px;
}
nav{
    height: 100%;
}
header ul {
    list-style: none;
}
.options{
    display: none;
}
.img-size {
    max-width: 200px;

}

/*MAIN SETTINGS*/
main{
    padding-top: 90px;
}
.planning-cards{
    background-color: var(--color-bg-card);
}
.planning-cards h2{
    color: var(--color-secondary-color);
}